.container{
    height: 100vh;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: row;
    top: 82px;
    left: 0;
    background-color: white;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}