.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.add{
    width: 50px;
    height: 50px;
    margin-left: 200px;
    margin-bottom: 20px;
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    &:hover{
        cursor: pointer;
        border: 1px dashed blue;
        color: blue;
    }
}
.wrapper-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modal-button-submit{
    background-color: aqua;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 0 8px;
    border: 1px solid #ccc;
    &:hover{
        cursor: pointer;
    }
}
.modal-button-cancel{
    background-color: white;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 0 8px;
    border: 1px solid #ccc;
    &:hover{
        cursor: pointer;
    }
}

.modal-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 32px;
    padding: 10px;
    p{

        display: flex;
        font-size: 16px;
        font-weight: 500;
        justify-content: flex-end;
    }
    input, select{

        width: 300px;
        height: 40px;
        margin-left: 8px;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        &:focus{
            outline: none;
        }
    }
    .selectMultiple {
        width: 300px;
        height: 100px;
        margin-left: 8px;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
    }
    
}

.wrapper{
    display: flex;
    justify-content: flex-end;
    margin-right: 32px;
    
    .dropdown{
        display: flex;
        flex-direction: column;
        width: 300px;
        border: 1px solid #ccc;
    }
    .dropdownitem{
        background-color: whitesmoke;
        &:hover{
            cursor: pointer;
            background-color: aqua;
        }
    }
}

.AiIcons{
    font-size:  25px;
    &:hover{
        cursor: pointer;
    }
}

Table .AiIcons{
    padding: 20px
}

.item-image {
    width: 5vw;  
}

.file-input-label {
    width: 150px;
    height: 20px;
}

.centered-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe {
    border-radius:12px
}

.delete-button {
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
    margin-left: 200px;
    margin-bottom: 20px;
}