.customer-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 2rem;
  margin-top: 5rem;

  .contents-container, .misc-container {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
  }

  .contents-container {
    img {
      background-color: lightcyan;
      border: 4px solid lightskyblue;
      border-radius: 50%;
      float: left;
      width: 10rem;
      height: 10rem;
    }

    h1, h3 {
      padding-block: 1rem;
    }

    table {
      padding-inline-start: 2rem;
    }

    tr > td:first-of-type {
      padding-block: 1rem;
    }

    tr > td:last-of-type {
      padding-inline: 4rem;
    }


    tr > td:last-of-type > input[type="text"] {
      width: 15rem;
      font-size: 1rem;
      padding: 0.5rem;
    }

    tr > td:last-of-type > select {
      width: 30rem;
      font-size: 1.5rem;
      padding: 0.5rem;
    }

    tr:nth-of-type(3) > td:last-of-type * {
      vertical-align: middle;
    }

    tr:nth-of-type(3) > td:last-of-type > input {
      width: 2rem;
      height: 2rem;
    }

    tr > td:last-of-type > input[type="radio"] + label {
      padding-inline: 1rem;
    }
    
    .centered-btn {
      clear: both;
      display: flex;
      justify-content: center;
      padding-block: 2rem;
      width: 100%;
      
      button {
        width: auto;
        height: auto;
        padding: 1rem 2rem;
        margin: 0rem 3rem;
        color: white;
        background-color: purple;
      }
      button:hover {
        background-color: #0a68ffcc;
      }
    }
  }

  .misc-container {
    table {
      width: 100%;
      border-spacing: 1rem;
    }
    th {
      text-align: start;
      padding-block: 1rem;
    }
    button {
      font-size: initial;
      color: var(--primary);
      border: 1px solid var(--primary);
    }
    button:hover {
      border: 0;
      background: #0a68ff33;
    }
  }
  button {
    border-radius: 0.5rem;
    font-size: initial;
  }
}

span{
  font-size: 12px;
}

.avatar-container > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}